.the-pizza-home-hot 
	.swiper-slide
		margin-right: 15px
	.main-slide
		position: relative
		padding-bottom: 20px
	.main-button
		display: none
	.main-page
		display: flex
		justify-content: center
		align-items: center
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		.swiper-pagination
			display: flex
			justify-content: center
			align-items: center
			.swiper-pagination-bullet
				background: #cccccc
				margin: 0 5px
				opacity: 1
				&.swiper-pagination-bullet-active
					background: $main
	@media(min-width: 768px)
		.swiper-slide
			margin-right: 30px
	@media(min-width: 1024px)
		.main-page
			display: none
		.main-slide
			padding-bottom: 0
		.main-button
			display: block
			.button-prev, .button-next
				position: absolute
				top: 50%
				transform: translateY(-50%)
				display: flex
				justify-content: center
				align-items: center
				width: 40px
				height: 40px
				border-radius: 50%
				border: 2px solid #cccccc
				// background: rgba(#ffffff, 1)
				background: #ffffff
				z-index: 11
				em 
					font-size: 24px
					color: #cccccc
					line-height: 1
				&:hover
					background: $main
					border: 2px solid $main
					em
						color: #fff
			.button-prev
				left: -30px
			.button-next
				right: -30px
	@media(min-width: 1200px)
		.product-item
			.image
				height: 300px
				padding-top: 30px
		.main-button
			.button-prev, .button-next
				width: 60px
				height: 60px
				background: #ffffff
			.button-prev
				left: -50px
			.button-next
				right: -50px
	@media(min-width: 1366px)
		.main-button
			.button-prev
				left: -90px
			.button-next
				right: -90px
.the-pizza-home-product
	.head-tab
		display: flex
		flex-wrap: wrap 
		justify-content: space-between
	.tabslet-tab
		width: 100%
		margin: 0
		padding: 0
		display: flex
		flex-wrap: wrap 
		margin-top: 15px
		li 
			display: flex
			justify-content: center
			align-items: center
			a 
				display: flex
				justify-content: center
				align-items: center
				min-width: 70px
				background: #ffffff
				border: 1px solid #ffffff
				color: #111111
				border-radius: 14px
				height: 28px
				text-align: center
				padding: 5px 10px
				font-size: 16px
				font-weight: 400
				transition: .2s ease-in-out all
			&:hover, &.active
				a 
					border-color: $red
					color: $red
		@media(min-width: 1024px)
			width: auto
			margin-top: 0
	.tabslet-content
		// margin-top: 20px
		display: none
		&.active
			display: block
	.show-product
		margin-top: 20px
		display: none
		&.active
			display: block
		@media (max-width: 767px)
			margin-top: 0
	.product-list
		@media(max-width: 576px)
			
			.row
				margin: 0 -7.5px
				> *
					padding: 0 7.5px
