section.h-1.main-section
    .container-fluid
        h3.main__title--child.color-1 Bạn hoàn toàn cảm thấy không hài lòng với cuộc sống hiện tại?
        h3.main__title--parent.color-gradient Đã đến lúc thay đổi
        .list__item
            figure
                .item__image
                    img(src="./img/h-1/img-1.png", alt="")
                figcaption
                    p Bạn mong muốn mở rộng thêm
                        span các mối quan hệ thật sự bền vững?
            figure
                .item__image
                    img(src="./img/h-1/img-2.png", alt="")
                figcaption
                    p Bạn mơ hồ về khả năng thật sự và muốnkhai mở tư duy để đạt được
                        span sự thịnh vượng tài chính?
            figure
                .item__image
                    img(src="./img/h-1/img-3.png", alt="")
                figcaption
                    p Bạn hy vọng sẽ trở thành nhà lãnh đạo 
                        span
                        | truyền cảm hứng thúc đẩy đội nhóm, nhân viên đạt được những thành tích không tưởng?
            figure
                .item__image
                    img(src="./img/h-1/img-4.png", alt="")
                figcaption
                    p Bạn mưu cầu về một 
                        span sống an yên không bệnh tật?
            figure
                .item__image
                    img(src="./img/h-1/img-5.png", alt="")
                figcaption
                    p Bạn khát khao địa vị và muốn đặt một dấu ấn để 
                        span sự nghiệp sẽ là kiệt tác
                        | đáng tự hào trong đời bạn?
        .content__wrapper
            p Nếu có một nơi có thể giúp bạn hiện thực hóa giấc mơ vẫn còn dang dở, liệu bạn có sẵn sàng đón nhận hay tiếp tục chờ đợi?
        h3.main__title--child Cơ hội giúp bạn thay đổi cuộc đời đang ở ngay trước mắt
        a.btn__header(href="javascript:void(0)") Đăng ký chương trình QUYỀN NĂNG SƯ TỬ