.btn__header
    display: block
    background-image: linear-gradient(to bottom,$btn, $btn-2)
    +flexcenter
    width: 160px
    height: 50px
    border-radius: 26px
    color: #ffffff
    font-size: 20px
    font-weight: 700
    &:hover
        color: #ffffff
        text-decoration: underline