block var

doctype html

html(lang="en")

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&family=Oswald:wght@500;700&display=swap")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
		title #{title}

	body(class=bodyClass)
		block header
			include ../components/_global/header/header-login.pug
		main
			block main
			a(href="#").delivery
				img(src="./img/icon/delivery.png", alt="")
		block footer
			include ../components/_global/footer/footer.pug
		script(src="./js/core.min.js")
		script(src="./js/main.min.js")
		