extends _layout.pug

block var
	- var title = 'The Pizza'
	- var bodyClass = 'source-page'

block main
	include ../components/banner/index
	include ../components/home/h-1/index
	include ../components/popup/pizza
	include ../components/popup/combo
	include ../components/popup/chonnuoc
