extends _layout.pug

block var
	- var title = 'Home'
	- var bodyClass = 'source-page'

block main
	include ../components/home/banner/index
	include ../components/home/h-1/index
	include ../components/home/h-2/index