footer
    .container
        .footer__wrapper
            .footer__wrapper--left
                ul
                    li
                        a(href="javascript:void(0)") Chính sách bảo mật 
                    li
                        a(href="javascript:void(0)") Phương thức thanh toán
            .footer__wrapper--right
                p © 2020.
                a(href="javascript:void(o)") Toàn bộ bản quyền thuộc quyền năng sư tử