header
    .container
        .header__top
            .header__top--left
                ul
                    li
                        a(href="javascript:void(0)") Support
                    li
                        a.mdi.mdi-email(href="javascript:void(0)") 
                    li
                        a(href="javascript:void(0)") info@admin.com
            .header__top--right
                ul
                    li
                        p Hotline
                    li
                        a(href="tel:0877 336 336") 0877 336 336
        .header__bottom
            .logo
                img(src="./img/logo.png", alt="")
            .nav
                ul
                    li.active
                        a(href="javascript:void(0)") Home
                    li
                        a(href="javascript:void(0)") About
                    li
                        a(href="javascript:void(0)") Plans
                    li
                        a(href="javascript:void(0)") Stories
                    li
                        a(href="javascript:void(0)") Schedule
                    li
                        a(href="javascript:void(0)") Ticket
                a.btn__header(href="javascript:void(0)") Join US
            .btn__hamburger
                span
                span
                span
                span
                span
                span
        .nav-mobile